/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general rules */
body {
    font-family: "DM sans", "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(25, 29, 123);
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    display: block;
}

.container {
    padding: 30px;
}

.jumbo {
    text-align: center;
}

section {
    padding: 30px 0;
}

button {
    display: block;
    margin: 16px auto;
    padding: 8px 5px;
    border: none;
    border-radius: 8px;
    width: 100%;
}

button:hover{
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

.in-browser {
    background-color: rgb(88 101 242);
    color: rgb(255, 255, 255);
}

p {
    margin-top: 10px;
}

.images {
    border-radius: 30px;
    margin-top: 16px;
}

.card {
    background-color: rgba(255, 255, 255, .3);
    padding: 30px 20px;
    border-radius: 30px;
    position: relative;
}

.badge {
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);

}